#logo{
	height: 2em;
	width: 2.7em;
	float: left;
	padding-right: 1em;

}

label {
	margin-left: 0em;
}
.gradeCalc{
	padding: 0 0 0 20%;
}

@media (min-width: 550px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 10%; }
  .column:first-child,        
  .columns:first-child { 
    margin-left: 0; }

.groupName{
	width: 15em;
	display: inline-block;
	float: left;
}
.groupGrade{
	width: 6em;
}
.groupWeight{
	width: 6em;
}